.list {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 70%;
    min-height: 40vh;;

    overflow: auto;
    -ms-overflow-style: none;
    /* border: red 5px solid; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
    text-decoration: none;
    list-style-type: none;
    border: 1px black solid;
    padding-left: 0;
    /*background-color: black; */
}

.list::-webkit-scrollbar {
    /* display: none */
    width: 5px;
}

.list::-webkit-scrollbar-track {
    background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
    background-color: rgb(66, 83, 37);
}