*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  /*   font-size: 1.3rem; */
  }
  
  .background {
    background: radial-gradient(circle, rgb(142, 142, 142) 5% , rgb(91, 91, 91) 100% );
    height: 100vh;
  }
  
  .board {
    /* width: 2250px;
    height: 2250px; */
    width: 2420px;
    height: 2350px;
    background-color: lightslategrey;
    background-image: url("../src/assets/board.png");
    object-fit: contain;
    
  }
  
  .shithead {
    position: absolute;
    z-index: 0;
  }
  
   .map {
  /*   display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    position: relative;
    height: 75%;
    border: 10px red solid;
  } 
  
  .test {
    --testwidth: 200px;
    position: relative;
    height: var(--testwidth);
    width: var(--testwidth);
    background-color: transparent;
    border: 0.3rem solid greenyellow;
    border-radius: 100%;
  }
  
  .test::after {
    /* --degrees: 180deg; */
    --miniwidth: calc(var(--testwidth)/8);
    position: absolute;
    height: var(--miniwidth);
    width: var(--miniwidth);
    content: '';
    border: 0.3rem solid purple;
    border-radius: 100%;
    left: calc(50% - calc(var(--miniwidth)/2));
    top: calc(50% - calc(var(--miniwidth)/2));
    /* top: calc(50% - -); */
    transform-origin: center;
    transform: translateX(calc(sin(var(--degrees))*calc(var(--testwidth)/2))) translateY(calc((cos(var(--degrees))*calc(var(--testwidth)/2))*-1));
  }
  
  .test2 {
    --testwidth2: 200px;
    position: relative;
    height: var(--testwidth2);
    width: var(--testwidth2);
    background-color: transparent;
    border: 0.3rem solid greenyellow;
    border-radius: 100%;
  }
  
  .testchild {
    --miniwidth2: calc(var(--testwidth2)/8);
    position: absolute;
    height: var(--miniwidth2);
    width: var(--miniwidth2);
    content: '';
    border: 0.3rem solid purple;
    border-radius: 100%;
    left: calc(50% - calc(var(--miniwidth2)/2));
    top: calc(50% - calc(var(--miniwidth2)/2));
    /* top: calc(50% - -); */
    transform-origin: center;
    transform: translateX(calc(sin(var(--degrees))*calc(var(--testwidth2)/1.5))) translateY(calc((cos(var(--degrees))*calc(var(--testwidth2)/1.5))*-1));
  }
  
  .testchild p {
    transform: rotateZ(var(--degrees));
  }
  
  /* .container {
    position: relative;
    width: 200px;
    height: 100px;
    perspective: 200px;
  }
  
  .cube {
    --cubeheight: 100px;
    --halfcubeheight: calc(var(--cubeheight)/2);
    height: var(--cubeheight);
  
  }
  
  .rolling {
    -webkit-animation-duration: 0.5s;
  
    transform-style: preserve-3d;
    animation-name: rotating;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 20;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: rotating;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 20;
  }
  
  .side {
    position: absolute;
    left: var(--halfcubeheight);
    top: 0px;
    width: var(--cubeheight);
    height: var(--cubeheight);
    background-color: rgba(192, 192, 192, 0.8);
      border: 2px solid #888;
      font-size: 24px;
      color: #222;
      text-align: center;
      text-shadow: 0px 2px 1px white;
  }
  
  .one {
    transform: rotateY(45deg) translateZ(var(--halfcubeheight));
    -webkit-transform: rotateY(45deg) translateZ(var(--halfcubeheight));
  }
  .two {
    transform: rotateY(135deg) translateZ(var(--halfcubeheight));
    -webkit-transform: rotateY(135deg) translateZ(var(--halfcubeheight));
  }
  .three {
    transform: rotateY(225deg) translateZ(var(--halfcubeheight));
    -webkit-transform: rotateY(225deg) translateZ(var(--halfcubeheight));
  }
  .four {
    transform: rotateY(315deg) translateZ(var(--halfcubeheight));
    -webkit-transform: rotateY(315deg) translateZ(var(--halfcubeheight));
  }
  .five {
    transform: rotateX(90deg) rotateZ(45deg) translateZ(var(--halfcubeheight));
    -webkit-transform: rotateX(90deg) rotateZ(45deg) translateZ(var(--halfcubeheight));
  }
  .six {
    transform: rotateX(270deg) rotateZ(45deg) translateZ(var(--halfcubeheight));
    -webkit-transform: rotateX(270deg) rotateZ(45deg) translateZ(var(--halfcubeheight));
  }
  
  .dienumber {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    color: transparent;
    animation: fade;
    animation-duration: 2s;
    animation-delay: 20s;
    animation-fill-mode: forwards;
  }
  
  
  @keyframes rotating {
    0% {
      transform: rotateX(0deg)  rotateY(0deg);
    }
    50% {
      transform:rotateX(-180deg)  rotateY(180deg);
    }
    100% {
      transform:rotateX(-360deg) rotateY(360deg);
    }
  }
  
  @keyframes fade {
    0% {
      color: rgba(0, 0, 0, 0);
    }
    50% {
      color: rgba(0, 0, 0, 0.5);
    }
    100% {
      color: rgba(0, 0, 0, 1);
    }
  } */